.workflow-details {
	min-height: 240px;
}

.workflow-scripts {
	margin-top: 22px;
}

#tab-content-custom_workflow .disabled {
	color: silver;
}

table.list.custom-workflows td {
	vertical-align: middle;
}

table.list.custom-workflows td.description {
	text-align: left;
	width: 40%;
}

table.list.custom-workflows td.buttons {
	white-space: normal;
	width: 10%;
	text-align: left;
}

table.list.custom-workflows tr.disabled {
	color: silver;
}

#custom_workflow_description, #custom_workflow_name {
	width: 98%;
}

.custom_workflow_script {
	width: 98%;
	font-size: 11px;
}

#custom_workflow_enabled_projects ul {
	max-height: 200px;
	overflow-y: auto;
}
